QTabBar::tab:selected {
    background: #777777;
    color: 000000;
    /*color: #ff0000;*/
    font-weight: bold;
}

QTabBar::tab {
    background: #404040;
    min-width: 200px;
    color: #aaaaaa;
}

